<!DOCTYPE html>
<html>
  <head>
    <title>LunchVote</title>
    <%= csrf_meta_tags %>
    <%= render  'layouts/navbar' %>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
         <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content" class='container'>
      <%= yield %>
    </div>
  </body>
</html>
